body, html {
    height: 100%;
    margin: 0;
    font-size: 16px;
    font-family: "Lato", sans-serif;
    font-weight: 400;
    line-height: 1.8em;
    color: #666;
}

.pimg1, .pimg2, .pimg3 {
    position: relative;
    opacity: 0.70;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    /*
    fixed = parallax
    scroll = normal
  */
    background-attachment: fixed;
}

.pimg1 {
    background-image: url(../image10.jpg);
    min-height: 100%;
}

.pimg2 {
    background-image: url(../image9.jpg);
    min-height: 400px;
}

.pimg3 {
    background-image: url(../image8.jpg);
    min-height: 400px;
}

.section {
    text-align: center;
    padding: 50px 80px;
}

.section-light {
    background-color: #f4f4f4;
    color: #666;
}

.section-dark {
    background-color: #282e34;
    color: #ddd;
}

.section-light input #send {
    top:40px;
}

.ptext {
    position: absolute;
    top: 50%;
    width: 100%;
    text-align: center;
    color: #000;
    font-size: 27px;
    letter-spacing: 8px;
    text-transform: uppercase;
}

    .ptext .border {
        background-color: #111;
        color: #fff;
        padding: 20px;
    }

        .ptext .border.trans {
            background-color: transparent;
        }

@media(max-width:568px) {
    .pimg1, .pimg2, .pimg3 {
        background-attachment: scroll;
    }
}
#create-account{
    position: relative;
    text-align: center;
    width: 500px;
    height: 150px;
    left: 28vw;
}
#create-account .input {
        display: inline-block;
        padding: 5px;
        margin: 5px;
}




.nav {
    position: fixed;
    height: 100%;
    width: 0;
    z-index: 7;
    top: 0;
    left: 0;
    background-color: #111;
    opacity: 0.9;
    overflow-x: hidden;
    padding-top: 60px;
    transition: 0.7s;
}

    .nav a {
        display: block;
        padding: 20px 20px;
        font-size: 25px;
        text-decoration: none;
        color: grey;
    }

    .nav #button {
        font-size: 250%;
        margin-top: 20px;
        padding: 30px 48%;
        opacity: 0;
        transition: 1s;
        transition-delay: 0.25s;
    }

    .nav #button2 {
        font-size: 250%;
        margin-top: 20px;
        padding: 30px 48%;
        opacity: 0;
        transition: 1s;
        transition-delay: 0.5s;
    }

    .nav #button3 {
        font-size: 250%;
        margin-top: 20px;
        padding: 30px 48%;
        opacity: 0;
        transition: 1s;
        transition-delay: 0.75s;
    }

    .nav #button4 {
        font-size: 250%;
        margin-top: 20px;
        padding: 30px 48%;
        opacity: 0;
        transition: 1s;
        transition-delay: 1s;
    }

    .nav #button5 {
        font-size: 250%;
        margin-top: 20px;
        padding: 30px 48%;
        opacity: 0;
        transition: 1s;
        transition-delay: 1.25s;
    }

    .nav a:hover {
        color: white;
        transition: 0.4s;
    }

    .nav .close {
        position: absolute;
        top: 0;
        right: 22px;
        margin-left: 50px;
        font-size: 30px
    }

.slide #bars {
    position: absolute;
    top: 20px;
    left: 20px;
    color: grey;
    font-size: 36px;
    z-index: 5;
    transition: 0.5s;
}

.input input {
    background-color: #d3d3d3;
    height: 30px;
    width: 200px;
    border: none;
    border-radius: 25px;
    outline: none;
}
.input + #cost {
    border-radius: 0px;
}
.input:focus {
    border:none;
    outline:none;
}

.user {
    position: absolute;
    top: 8px;
}

#signin {
    color: grey;
    outline: none;
    border: none;
    font-size: 36px;
}


